/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
/.idea
/.vagrant
/nbproject
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
.phpstorm.meta.php
composer.phar
error.log
output.txt
/.vscode
.php_cs.cache
coverage.xml
/coverage
.phpunit.result.cache

access.log

/reports
/terraform/backend.tf
/terraform/.terraform/
/terraform/remote_state/.terraform/
/.elasticbeanstalk/
/.prod.env
/terrafom/.terraform/
/public/img/
/public/fonts/
/terrafom/remote_state/.terraform/date

/terrafom/remote_state/terraform.tfstate
/terrafom/remote_state/backend.tf
/vpn.env
/supervisord.pid
/supervisord.log
/.php-cs-fixer.cache
/public/css/
/public/js/backend.js
/public/js/frontend.js
/public/js/vendor.js
/public/js/app.js
_ide_helper.php
_ide_helper_actions.php
